.container{
    max-width: 350px;
    margin: 0 auto;
}
.task__input--container{
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.task__input{
    flex-grow: 1;
    width: 68%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px 0px 0px 5px;
    padding: 0 10px;
}
.button__add{
    width: 25%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 0px 5px 5px 0px;
    background-color: #ccc;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}